body{
    margin: 0px;  
    background-color:#cccccc;
} 

#myName {
    position: absolute;
    top:-34px;
    background-color:#4aaaa5;
    padding: 26px;
    color: #ffffff;
    font-size: 30px;
}

nav {
    float: right;
    padding-left: 29px;
    color: #cccccc;
    padding-top: 29px;
    padding-bottom: 29px;
  
}

nav ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #cccccc;
}

nav li {
      display: inline-block; 
}

.container {
      width: 80%;
      margin:0;
}

/* header {
    background-color: yellow;
    border: #cccccc;
    height: 60px;
    position: relative; 
} */

#aboutMeImage {    
  height: 100%;
  width: 231px;
  float: left;
  margin-right: 26px;
  margin-bottom: 7px;
  margin-top: 15px;
}

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(31, 29, 29, 0.993);
        color: white;
        text-align: center;
        border-top: 8px solid #4aaaa5;
}
      

a:link {
    color: #cccccc;
  }
  a {
    text-decoration: none !important;
}
  
a:visited {
    color:grey;
  }
  
  
 a:hover {
    color: #4aaaa5;
  }
   
  
 a:active {
    color: black;
  }  

.mainContainer{
    background-color:#ffffff;
    width: 960px;
    margin: auto;
    width: 50%;
    border: 20px solid #cccccc;
    padding: 21px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 24px;
    font-size: 10px;
    height:100%;
    padding: 7%;
  }

#headerMainContainer{
  background-color:#ffffff;
  width: 960px;
  height: 80px;
  margin: auto;
  width: 53%;
  border: 3px solid white;
  position: relative;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #cccccc;
}
#aboutMeContainer{
  background-color: #fff;
  border-bottom: 2px solid #cccccc;

}

#sectionContainer{
  margin: 3px;
  padding-top: 16px;
  color: #777777;
  font-size: 16px;
  line-height: 198%;
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
  
.separator{
  border-left: 1px solid #dddddd;
  padding: 7px;
  margin: 5px;
  text-align: center;
  width: 48px;

}

#aboutMeTitle{
  color: #4aaaa5;
  font-size: 30px;
}

header{
  background-color: #fff;
}

.formContainer{
  height: 100%;
}

.formInputField{
  width: 100%;
  border: 1px solid gray;
}

.formSection{
  margin-top: 4px;
  padding-top: 4px;
}

.messageField{
  height: 207px;
}

input[type=submit]{
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 9px 23px;
  text-decoration: none;
  margin: -4px 2px;
  cursor: pointer;
}

.portfolioImages{
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
}   

.column {
  float: left;
  width: 46.33%;
  margin: 17px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.imgStrip{
  width: 100%;
  height: 40px;
  background-color: #4aaaa5;
  color: white;
  position: absolute;
  bottom: 7px;
  text-align: center;
}

#firstImg{
  background-image: url("https://images.summitmedia-digital.com/topgear/images/2016/10/25/Vespa-PX-150-(photo-1-INSERT).jpg");
}

#secondIMG{
  background-image: url("https://i1.wp.com/thepointsguy.com/wp-content/uploads/2018/04/Riad-Espirit-du-Maroc-Hotel_032-1.jpg?fit=2048%2C2048px&ssl=1");
}

#thiredImg{
  background-image: url("../images/biology.jpg")
}

#fourthImg{
  background-image: url("../images/dog.jpg")
}

.stripText{
  font-size: 20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 37px;
  margin:0px;
  padding:0px;
}

.portfolioImagesContainer{
  height: 100%;
  text-align: center;
}

#footerText{
  margin-top: 27px;
}

.FormMainContainer{
  height: 450px;
}

@media (max-width: 980px) {
  body {
    background-color: rgba(46, 46, 51, 0.507);
    color: white;
  }
  .column {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 14px;
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgba(54, 54, 49, 0.37);
    color: rgba(161, 160, 54, 0.541);
  }
  .FormMainContainer{
    height: 350px;
  }
  .formInputField {
    width: 100%;
    border: 1px solid gray;
  }
  .messageField {
    height: 59px;
  }
  #headerMainContainer{
    position: static;
    width: 64%;
  }
  .column {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 14px;
  }
  /* .mainContainer{
    padding-bottom: 7%;
  } */
 }

@media  (max-width: 640px) {
    body {
      background-color: rgba(30, 202, 194, 0.486);
      color: rgba(189, 180, 55, 0.466);
    }
    
    #headerMainContainer{
      position: static;
      width: 63%;
    }

    #myName {
      position: absolute;
      top: -34px;
      background-color: #4aaaa5;
      padding: 27px;
      color: #ffffff;
      font-size: 21px;
      width: 109px; 
    }

    .nav{
      padding-top: 37px;
    }

    #aboutMeImage {
      height: 50%;
      width: 57%;      
      float: left;
      margin-right: 17px;
      margin-bottom: 7px;
      margin-top: 15px;
    }

    #sectionContainer {
      margin: 3px;
      padding-top: 16px;
      font-size: 8px;
      line-height: 198%;
      text-align: justify;
      margin: 3px;
      padding-top: 16px;
      font-size: 9px;
      line-height: 140%;
      text-align: justify;  
    }

    .mainContainer {
      margin: auto;
      width: 50%;
      padding: 21px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      line-height: 24px;
      font-size: 10px;
      height: 100%; 
      padding-bottom: 57px;
      height: 100%;
      /* padding-bottom: 7%;

    }

    .messageField {
      height: 207px;
      /* border: 1px solid gray; */
    }

    .formInputField {
      width: 100%;
      /* border: 1px solid gray; */
    }

    .portfolioImagesContainer {
        text-align: center;
    }

    .column {
      float: left;
      width: 100%;
      margin: auto;
      margin-top: 14px;
    }
}